<!-- 
The controller creates a view elemenf for the addon. This addon's Javascript then loads this chunk of HTML into that view.

It's recommended to not manipulate the view container. That's why this HTML starts with making its own content container.

- extension-matter-adapter-content-container is the main container. It's use is mainly to allow everything inside to scroll (through overflow: auto in the CSS)
- - extension-matter-adapter-content holds the content for the addon. It starts with the title, and is then followed by some tabs.

The page has a imaginary border of 10 rem, which is where things like the menu button reside.(Those buttons are themselves 2rem from the side, and 8 rem wide and tall).

Addons may add buttons to the top-right and bottom-right corner. Buttons to add or refresh things are prefered in the bottom-right. Settings or tutorial buttons are prefered in the rop right.

-->

<div id="extension-matter-adapter-content-container">
  
    <div id="extension-matter-adapter-content">
        <h3 id="extension-matter-adapter-title">Matter</h3> <!-- The icon is loaded into this title as a background, through CSS -->

        <!--
		<div class="extension-matter-adapter-tab-buttons">
            <button id="extension-matter-adapter-tab-button-overview" class="extension-matter-adapter-main-tab-button extension-matter-adapter-tab-selected">Overview</button>
            <button id="extension-matter-adapter-tab-button-pairing" class="extension-matter-adapter-main-tab-button">Pairing</button>
        </div>
        -->

        <div id="extension-matter-adapter-tabs-container"> <!-- your addon might itself have multiple tabs/pages. In this example toggling between the two tabs is based on a class class on the content container div -->
            
            
            <div id="extension-matter-adapter-main-page">
                
                <div class="extension-matter-adapter-centered-page"> <!-- This centered page div sets a maximum with for the content and centers it. -->
                    
                    <div class="extension-matter-adapter-area">
                        <h2>This addon is in very early development</h2>
		                <p>Currently it creates a Matter server and listens for incoming messages. But it doesn't turn those into devices yet.</p>
                    </div>
			
                    <div id="extension-matter-adapter-install-hotspot-hint" class="extension-matter-adapter-area extension-matter-adapter-hidden">
                        <p>To protect your privacy it's recommended to also install the Hotspot addon. It can create a WiFi guest network for your devices, and gives you control over which servers devices on that network may connect to. If you install it, this addon will automatically tell new WiFi-based Matter devices to connect to that network.</p>
                    </div>
                    <div id="extension-matter-adapter-missing-wifi-credentials-hint" class="extension-matter-adapter-area extension-matter-adapter-hidden">
                        <p>This addon needs to know which Wi-Fi network new Matter devices should be told to connect to. It also needs to tell new Matter devives which WiFi password to use. If you are not using the Hotspot addon, then you will need to provide the WiFi name and password in this addon's settings.</p>
                    </div>
                    
    			    <div id="extension-matter-adapter-loading">
    				    <div class="extension-matter-adapter-spinner">
    				        <div></div><div></div><div></div><div></div>
    				    </div>
    			    </div>
                    
                    
                    <div id="extension-matter-adapter-paired-devices-list" class="extension-matter-adapter-area extension-matter-adapter-hidden">
                        
                    </div>
                    
                    <pre id="extension-matter-adapter-paired-devices-list-pre">
                        Devices list is currently empty
                    </pre>
                    
                    <button id="extension-matter-adapter-show-second-page-button" class="icon-button"></button>

                </div>
                
            </div>
            
            
            
            <div id="extension-matter-adapter-second-page" class="extension-matter-adapter-busy-discovering">
                
                <div class="extension-matter-adapter-centered-page">
                
        		<h2>Pair a new Matter device</h2>
                <p>Adding a new Matter device to your home is slightly more involved, so it must be done here.</p>
                
                <!--
			    
                -->
                
                
                
                <div id="extension-matter-adapter-pairing-step1" class="extension-matter-adapter-area">
                    <h4>STEP 1 - Scanning</h4>
                    <p>Make sure the device is turned off or not already in its pairing state.</p>
                    <p>Then start the pairing process on the device. For example by pressing a button on the device until it resets or enters pairing mode. The manual for your device should explain how to do this.</p>
                    
                    
                    <div id="extension-matter-adapter-discovered-devices-list" class="extension-matter-adapter-area">
    				    <div class="extension-matter-adapter-spinner">
    				        <div></div><div></div><div></div><div></div>
    				    </div>
                    </div>
                    
                    <div class="extension-matter-adapter-align-right">
                        <button id="extension-matter-adapter-discover-button" class="text-button">Scan again</button>
                    </div>
                    
                </div>
                
                
                <div id="extension-matter-adapter-pairing-step2" class="extension-matter-adapter-area extension-matter-adapter-hidden">
                    <h4>STEP 2 - Pairing "<span id="extension-matter-adapter-pairing-step2-device-title">...</span>"</h4>
                    <p>Your device came with a unique pairing code. Please enter that code here:</p>
                    <input id="extension-matter-adapter-pairing-code" type="text" placeholder="Pairing code"/>
                    <div class="extension-matter-adapter-align-right">
                        <button id="extension-matter-adapter-start-pairing-button" class="text-button">Start normal pairing</button> <button id="extension-matter-adapter-start-network-pairing-button" class="text-button">Start network pairing</button>
                    </div>
                    <div id="extension-matter-adapter-busy-pairing-indicator" class="extension-matter-adapter-area extension-matter-adapter-hidden">
    				    <div class="extension-matter-adapter-spinner">
    				        <div></div><div></div><div></div><div></div>
    				    </div>
                        <h4>Pairing...</h4>
                    </div>
                    <div id="extension-matter-adapter-pairing-failed-hint" class="extension-matter-adapter-area extension-matter-adapter-error extension-matter-adapter-hidden">
                        <h4>Pairing failed</h4>
                        <button id="extension-matter-adapter-pairing-failed-try-again-button" class="text-button">Try again</button>
                    </div>
                    
                </div>
                
                
                <div id="extension-matter-adapter-pairing-step3" class="extension-matter-adapter-area extension-matter-adapter-hidden">
                    <h4>STEP 3</h4>
                    <p>Something.</p>
                </div>
                
                
        
                <!--<img src="/extensions/matter-adapter/images/lotus.jpg" />-->
        
                <!-- 
                By having this button inside of this tab, it will be automatically hidden when it's pressed.
                Also, note there is a small container div around the button. This is done to make the area that can be hit sligtly bigger, so that it works better on touch screens.    
                -->
                <div id="extension-matter-adapter-back-button-container">
                    <button id="extension-matter-adapter-back-button" class="back-button icon-button" data-l10n-id="back-button" aria-label="Back"></button>
                </div>
        
            </div>
            
		
        </div>
        
        
        <!-- This is the item that is cloned to create a list. The Zigbee2MQTT addon does this, for example. -->
		<div id="extension-matter-adapter-original-item" class="extension-matter-adapter-item">

            <div class="extension-matter-adapter-item-main">
                
                <div class="extension-matter-adapter-item-left">
                    <div class="extension-matter-adapter-item-icon">
                        <!-- You could add an icon depending on the type of item -->
                    </div>
                </div>
            
    			<div class="extension-matter-adapter-item-setter">
    				<h4 class="extension-matter-adapter-item-name">Item name</h4>
                    <div class="extension-matter-adapter-item-value"></div>
    			</div>
                
            </div>

			<div class="extension-matter-adapter-item-menu">
				<div class="extension-matter-adapter-item-right">
					<div class="extension-matter-adapter-item-delete-button">&nbsp;</div>
				</div>
			</div>

		</div>
        
        <!-- Give your addon's content to extra margin at the bottom - prefereable 50vh (50% height of the viewport). This is because touch screen users will need space at the bottom to show the virtual keyboard, and be able to scroll your content above it. -->
        <br/>
        <br/>

        <div id="extension-matter-adapter-debug-warning" class="extension-matter-adapter-hidden">
            <h2>Debugging is enabled</h2>
            <p>This addon is currently set to save detailed information about its operation in the internal logs. This may impact your privacy, as this also means that insights into your behaviour might be stored in those logs.</p>
            <p>You can disable debugging mode at the settings page for this addon.</p>
        </div>

        <br/>
        
    </div>
    
</div>





