<!-- 
The controller creates a view elemenf for the addon. This addon's Javascript then loads this chunk of HTML into that view.

It's recommended to not manipulate the view container. That's why this HTML starts with making its own content container.

- extension-matter-adapter-content-container is the main container. It's use is mainly to allow everything inside to scroll (through overflow: auto in the CSS)
- - extension-matter-adapter-content holds the content for the addon. It starts with the title, and is then followed by some tabs.

The page has a imaginary border of 10 rem, which is where things like the menu button reside.(Those buttons are themselves 2rem from the side, and 8 rem wide and tall).

Addons may add buttons to the top-right and bottom-right corner. Buttons to add or refresh things are prefered in the bottom-right. Settings or tutorial buttons are prefered in the rop right.

-->

<div id="extension-matter-adapter-content-container">
  
    <div id="extension-matter-adapter-content">
        <h3 id="extension-matter-adapter-title">Matter</h3> <!-- The icon is loaded into this title as a background, through CSS -->

        <!--
		<div class="extension-matter-adapter-tab-buttons">
            <button id="extension-matter-adapter-tab-button-overview" class="extension-matter-adapter-main-tab-button extension-matter-adapter-tab-selected">Overview</button>
            <button id="extension-matter-adapter-tab-button-pairing" class="extension-matter-adapter-main-tab-button">Pairing</button>
        </div>
        -->

        <div id="extension-matter-adapter-tabs-container"> <!-- your addon might itself have multiple tabs/pages. In this example toggling between the two tabs is based on a class class on the content container div -->
            
            
            <div id="extension-matter-adapter-main-page">
                
                <div class="extension-matter-adapter-centered-page"> <!-- This centered page div sets a maximum with for the content and centers it. -->
                    
                    <!--
                    <div class="extension-matter-adapter-area">
                        <h2>This addon is in very early development</h2>
		                <p>It is currently possible to pair switch devices and get their state.</p>
                    </div>
                    -->
			
                    <div id="extension-matter-adapter-install-hotspot-hint" class="extension-matter-adapter-area extension-matter-adapter-hidden">
                        <p>To protect your privacy it's recommended to also install the Hotspot addon. It can create a WiFi guest network for your devices, and gives you control over which servers devices on that network may connect to. If you install it, this addon will automatically tell new WiFi-based Matter devices to connect to that network.</p>
                    </div>
                    
    			    <div id="extension-matter-adapter-loading">
    				    <div class="extension-matter-adapter-spinner">
    				        <div></div><div></div><div></div><div></div>
    				    </div>
    			    </div>
                    
                    <div id="extension-matter-adapter-paired-devices-list">
                    </div>
                    
                    <pre id="extension-matter-adapter-paired-devices-list-pre" class="extension-matter-adapter-developer-only">
                    </pre>
                    
                    <button id="extension-matter-adapter-show-second-page-button" class="icon-button"></button>

                </div>
                
            </div>
            
            
            
            <div id="extension-matter-adapter-second-page" class="extension-matter-adapter-pairing-questioning">
                
                <div class="extension-matter-adapter-centered-page">
                
        		<h2>Pair a new Matter device</h2>
                 
                <div id="extension-matter-adapter-pairing-network-question-container" class="extension-matter-adapter-area">
                    <p style="text-align:center">Is the Matter device already connected to your network?</p>
                    <div style="display:flex;justify-content:space-around; padding:2rem 0">
                        <button id="extension-matter-adapter-pairing-network-question-normal-button" class="text-button">No</button>
                        <button id="extension-matter-adapter-pairing-network-question-network-button" class="text-button">Yes</button>
                    </div>
                </div>
               	
				<div id="extension-matter-adapter-pairing-steps">
                    
                    <!--
					<div id="extension-matter-adapter-pairing-step1" class="extension-matter-adapter-area">
						<h4>Preparation</h4>
						<p>To pair a new Matter device:</p>
						<ul>
							<li>The device must be within Bluetooth range of the Candle Controller</li>
							<li>If it's a battery powered device, make sure it has enough charge remaining</li>
							<li>For an existing device: do a factory reset of the device. The manual for your device should explain how to do this.</li>
						</ul>
						<p></p>
					</div>
                    -->
                    
					<div id="extension-matter-adapter-pairing-step-wifi" class="extension-matter-adapter-area">
						<h4>Provide WiFi credentials</h4>
						<p>If it's a WiFi based device you will also need to provide the WiFi name and password.</p>
						<div id="extension-matter-adapter-current-wifi-ssid-container" class="extension-matter-adapter-hidden">
							<p>Wifi credentials will be shared for: <span id="extension-matter-adapter-current-wifi-ssid">...</span><p>
							<button id="extension-matter-adapter-reveal-wifi-setup-button">Change</button>
						</div>
						<div id="extension-matter-adapter-provide-wifi-container">
							<input type="text" id="extension-matter-adapter-wifi-ssid" placeholder="WiFi name"/>
							<input type="text" id="extension-matter-adapter-wifi-password" placeholder="WiFi password"/>

							<input type="checkbox" id="extension-matter-adapter-wifi-remember-checkbox" name="extension-matter-adapter-wifi-remember-checkbox" data-val="true" and value="true"/><label for="extension-matter-adapter-wifi-remember-checkbox">Remember WiFi name and password</label>
						</div>

						<!--
						<p>Make sure the device is turned off or not already in its pairing state.</p>
						<p>Then start the pairing process on the device. For example by pressing a button on the device until it resets or enters pairing mode. The manual for your device should explain how to do this.</p>


						<div id="extension-matter-adapter-discovered-devices-list" class="extension-matter-adapter-area">
							<div class="extension-matter-adapter-spinner">
								<div></div><div></div><div></div><div></div>
							</div>
						</div>

						<div class="extension-matter-adapter-align-right">
							<button id="extension-matter-adapter-discover-button" class="text-button">Scan again</button>
						</div>
						-->
					</div>



					<div id="extension-matter-adapter-pairing-step-qr" class="extension-matter-adapter-area">
						<h4>Getting the pairing code</h4>

						<p>Your device should have a QR code on it which we need to scan.</p>

						<div id="extension-matter-adapter-pairing-qr-area">
							<p>Scan this QR code with your phone to get started:</p>
							<div id="extension-matter-adapter-qr-code"></div>
							<div style="background-color:white; padding:0 2rem 2rem 2rem; text-align:center">
								<a id="extension-matter-adapter-qr-scan-link" href="https://www.candlesmarthome.com/qr"><span id="extension-matter-adapter-short-qr-scan-url">candlesmarthome.com/qr</span></a>
							</div>

							<div class="extension-matter-adapter-align-right">
								<button id="extension-matter-adapter-show-more-pairing-options-button" class="text-button">Show other options</button>
							</div>

							<div id="extension-matter-adapter-other-pairing-options-container" class="extension-matter-adapter-hidden">

								<!--<p>Open this link on a phone or a computer with a webcam: </p>-->

								<p>If you already know the pairing code, then you can enter it here. It should start with <span style="font-weight:bold">MT:</span></p>
								<input id="extension-matter-adapter-pairing-code-input" type="text" placeholder="MT:ETCETERA.ETCETERA"/>
								<div class="extension-matter-adapter-align-right">
									<button id="extension-matter-adapter-save-manual-input-pairing-code-button" class="text-button">Save</button>
								</div>
							</div>
						</div>


						<!--
						<div id="extension-matter-adapter-qr-scan-button-container">
							<p>Scan this QR code with your phone to open the Matter Code scanner</p>
							<div id="extension-matter-adapter-qr-code"></div>

							<p class="extension-matter-adapter-hidden-on-kiosk" style="text-align:center">- or use this link -</p>
							<a id="extension-matter-adapter-qr-scan-button" href="https://www.candlesmarthome.com/qr" class="extension-matter-adapter-hidden-on-kiosk"><button class="text-button">Open QR code scanner</button></a>

						</div>
						<div id="extension-matter-adapter-qr-scan-hint" class="extension-matter-adapter-area">
							<p>You can find the code by using candlesmarthome.com/qr or by accessing the Candle Controller from your phone.</p>
						</div>
						-->

					</div>


                    <div id="extension-matter-adapter-pairing-step-network-code" class="extension-matter-adapter-area">
                        <h4>Please enter the pairing pin code</h4>
                        <p>The app or controller that you used to share the new device with will also have provided a pairing pin code - likely a number. Please enter that here.</p>
                        <input id="extension-matter-adapter-network-pairing-code-input" type="text" placeholder="1234567"/>
						<div class="extension-matter-adapter-align-right">
                            <button id="extension-matter-adapter-start-network-pairing-button" class="text-button extension-matter-adapter-start-pairing-button">Start network pairing</button>
							<!--<button id="extension-matter-adapter-save-network-pairing-code-button" class="text-button">Save</button>-->
						</div>
                    </div>
                    

					<div id="extension-matter-adapter-pairing-start-area" class="extension-matter-adapter-area">
						<h4>Ready to pair</h4>

                        <p>Using pairing code: <span id="extension-matter-adapter-pairing-start-area-pairing-code">Error!</span></p>
						<div id="extension-matter-adapter-busy-updating-certificates" class="extension-matter-adapter-hidden">
							<div class="extension-matter-adapter-spinner">
								<div></div><div></div><div></div><div></div>
							</div>
							<p style"text-align:center">Updating certificates...</p>
						</div>
                        
                        <div id="extension-matter-adapter-pairing-bluetooth-hint">
    						<ul>
    							<li>The device must be within Bluetooth range of the Candle Controller</li>
    							<li>It's recommended to factory reset the device</li>
    						</ul>
                        </div>
                        
						<div class="extension-matter-adapter-align-right">
							<button id="extension-matter-adapter-start-normal-pairing-button" class="text-button extension-matter-adapter-start-pairing-button">Start normal pairing</button>
						</div>

						
					</div>
                    
                    <div id="extension-matter-adapter-pairing-busy-step">
						<div id="extension-matter-adapter-busy-pairing-indicator" class="extension-matter-adapter-area extension-matter-adapter-hidden">
							<div class="extension-matter-adapter-spinner">
								<div></div><div></div><div></div><div></div>
							</div>
							<p style="text-align:center">Pairing...</p>
						</div>
						<div id="extension-matter-adapter-pairing-failed-hint" class="extension-matter-adapter-area extension-matter-adapter-error extension-matter-adapter-hidden">
							<h4>Pairing failed</h4>
							<button id="extension-matter-adapter-pairing-failed-try-again-button" class="text-button">Try again</button>
						</div>
                    </div>
					<!--
					<div id="extension-matter-adapter-pairing-step2" class="extension-matter-adapter-area">
						<h4>STEP 2 - Pairing "<span id="extension-matter-adapter-pairing-step2-device-title">...</span>"</h4>

						<p>If your Matter device uses WiFi, then it will need the WiFi name and password. First this will be transmitted to the new device via Bluetooth, and then it will use them to connect to your WiFi network.

						<div id="extension-matter-adapter-current-wifi-ssid-container" class="extension-matter-adapter-hidden">
							<p>Wifi credentials will be shared for: <span id="extension-matter-adapter-current-wifi-ssid">...</span><p>
							<button id="extension-matter-adapter-reveal-wifi-setup-button">Change</button>

						</div>
						<div id="extension-matter-adapter-provide-wifi-container">
							<input type="text" id="extension-matter-adapter-wifi-ssid" placeholder="WiFi name"/>
							<input type="text" id="extension-matter-adapter-wifi-password" placeholder="WiFi password"/>

							<input type="checkbox" id="extension-matter-adapter-wifi-remember-checkbox" name="extension-matter-adapter-wifi-remember-checkbox" data-val="true" and value="true"/><label for="extension-matter-adapter-wifi-remember-checkbox">Remember WiFi name and password</label>
						</div>

						<p>Your device came with a unique pairing code, in the form of a QR code.</p>
						<input id="extension-matter-adapter-pairing-code" type="text" placeholder="Pairing code"/>

						<div id="extension-matter-adapter-qr-code"></div>

						<div id="extension-matter-adapter-qr-scan-button-container">
							<button id="extension-matter-adapter-qr-scan-button" class="text-button">Scan QR code</button>
						</div>
						<div id="extension-matter-adapter-qr-scan-hint" class="extension-matter-adapter-area">
							<p>You can find the code by visiting <span id="extension-matter-adapter-short-qr-scan-url">candlesmarthome.com/qr</span> or by accessing the Candle Controller from your phone.</p>
						</div>

						<div class="extension-matter-adapter-align-right">
							<button id="extension-matter-adapter-start-pairing-button" class="text-button">Start normal pairing</button> <button id="extension-matter-adapter-start-network-pairing-button" class="text-button">Start network pairing</button>
						</div>


						<div id="extension-matter-adapter-busy-updating-certificates" class="extension-matter-adapter-hidden">
							<p>Preparing by updating certificates...</p>
						</div>

						<div id="extension-matter-adapter-busy-pairing-indicator" class="extension-matter-adapter-area extension-matter-adapter-hidden">
							<div class="extension-matter-adapter-spinner">
								<div></div><div></div><div></div><div></div>
							</div>
							<h4>Pairing...</h4>
						</div>
						<div id="extension-matter-adapter-pairing-failed-hint" class="extension-matter-adapter-area extension-matter-adapter-error extension-matter-adapter-hidden">
							<h4>Pairing failed</h4>
							<button id="extension-matter-adapter-pairing-failed-try-again-button" class="text-button">Try again</button>
						</div>

					</div>
					-->


					<button id="extension-matter-adapter-stop-poll-button">STOP POLL</button>
                    
				</div>
					
                
                
                
                <!--<img src="/extensions/matter-adapter/images/lotus.jpg" />-->
        
                <!-- 
                By having this button inside of this tab, it will be automatically hidden when it's pressed.
                Also, note there is a small container div around the button. This is done to make the area that can be hit sligtly bigger, so that it works better on touch screens.    
                -->
                <div id="extension-matter-adapter-back-button-container">
                    <button id="extension-matter-adapter-back-button" class="back-button icon-button" data-l10n-id="back-button" aria-label="Back"></button>
                </div>
        
            </div>
            
        </div>
        
        
        <!-- This is the item that is cloned to create a list. -->
		
		<div id="extension-matter-adapter-original-item" class="extension-matter-adapter-item">
			<div class="extension-matter-adapter-item-setter">
				<div class="extension-matter-adapter-line1">
					<div class="extension-matter-adapter-icon">
					</div>
                    <div class="extension-matter-adapter-item-title"></div>
					<div class="extension-matter-adapter-item-description">
                        <span class="extension-matter-adapter-item-vendor-name"></span>
                        <span class="extension-matter-adapter-item-product-name"></span>
                    </div>
				</div>
				<div class="extension-matter-adapter-line2">
                    <div class="extension-matter-adapter-item-hardware-version"></div>
					<div class="extension-matter-adapter-item-software-version"></div>
				</div>
			</div>
			<div class="extension-matter-adapter-item-menu">
				<div class="extension-matter-adapter-item-left">
					<button class="extension-matter-adapter-item-update-button text-button" disabled>Update</button>
				</div>
				<div class="extension-matter-adapter-item-right">
					<div class="extension-matter-adapter-item-delete-button">&nbsp;</div>
				</div>
			</div>
			
            <div class="extension-matter-adapter-overlay rule-edit-overlay extension-matter-adapter-delete">
                <div class="rule-delete-dialog">
                    <p>Are you sure you want to remove this device from the Matter network?</p>
                    <input class="rule-delete-cancel-button" type="button" data-l10n-id="rule-delete-cancel-button" value="Cancel">
                    <input class="rule-delete-confirm-button" type="button" value="Force remove">
                </div>
            </div>
  			
            <div class="extension-matter-adapter-overlay rule-edit-overlay extension-matter-adapter-update">
                <div class="rule-delete-dialog">
                    <p>Are you sure you want to update the firmware of this device? <!--Please <span class="extension-matter-adapter-read-about-risks">read about the risks</a> first.--></p>
                    <input class="extension-matter-adapter-overlay-cancel-update-button rule-delete-cancel-button" type="button" data-l10n-id="rule-delete-cancel-button" value="Cancel">
                    <input class="extension-matter-adapter-overlay-start-update-button rule-delete-confirm-button" type="button" value="Update">
                </div>
            </div>
			
            <div class="extension-matter-adapter-overlay rule-edit-overlay extension-matter-adapter-updating">
                <div class="rule-delete-dialog">
  				    <div class="extension-matter-adapter-updating-text-container">
                    	<img class="extension-matter-adapter-update-spinner" src="/extensions/matter-adapter/images/spinner.gif"><p>Updating firmware... Do not turn off the controller or the Matter device.</p>
  			  	    </div>
                    
  				    <div class="extension-matter-adapter-update-progress-bar-container">
  					    <div class="extension-matter-adapter-update-progress-bar"></div>
                        <div class="extension-matter-adapter-update-progress-bar-percentage"></div>
  				    </div>
          
                </div>
            </div>
		</div>
        
        <!--
        <div id="extension-matter-adapter-original-item" class="extension-matter-adapter-item">

            <div class="extension-matter-adapter-item-main">
                
                <div class="extension-matter-adapter-item-left">
                    <div class="extension-matter-adapter-item-icon">
                        
                    </div>
                </div>
            
    			<div class="extension-matter-adapter-item-setter">
    				<h4 class="extension-matter-adapter-item-name">Item name</h4>
                    <div class="extension-matter-adapter-item-value"></div>
    			</div>
                
            </div>

			<div class="extension-matter-adapter-item-menu">
				<div class="extension-matter-adapter-item-right">
					<div class="extension-matter-adapter-item-delete-button">&nbsp;</div>
                    <button class="extension-matter-adapter-item-update-button">UPDATE</button>
				</div>
			</div>

		</div>
        -->
        
        <!-- Give your addon's content to extra margin at the bottom - prefereable 50vh (50% height of the viewport). This is because touch screen users will need space at the bottom to show the virtual keyboard, and be able to scroll your content above it. -->
        <br/>
        <br/>

        <div id="extension-matter-adapter-debug-warning" class="extension-matter-adapter-hidden">
            <h2>Debugging is enabled</h2>
            <p>This addon is currently set to save detailed information about its operation in the internal logs. This may impact your privacy, as this also means that insights into your behaviour might be stored in those logs.</p>
            <p>You can disable debugging mode at the settings page for this addon.</p>
        </div>

        <br/>
        
    </div>
    
</div>





